<div class="grid-container">
  <div class="countdown">
    <app-countdown [endTimeHours]="18" [endTimeMinutes]="00"></app-countdown>
  </div>
  <div class="score">
    <fa-icon [icon]="faTshirt" class="team-one-icon"></fa-icon>
    {{ game.score![0] }} - {{ game.score![1] }}
    <fa-icon [icon]="faTshirt" class="team-two-icon"></fa-icon>
  </div>
  <div class="players-list">
    <app-players-list
      [addGoalAllowed]="true"
      [showScore]="true"
    ></app-players-list>
  </div>
  <div class="action-buttons">
    <app-add-player></app-add-player>
    <button routerLink="/goals">Show goals</button>
    <button (click)="endGame()">End game</button>
  </div>
</div>
