.grid-container {
  grid-template-areas:
    "countdown"
    "score"
    "playersList"
    "actionButtons";
  grid-template-rows: 30px 1fr 3fr 80px;
}

.countdown {
  display: flex;
  grid-area: countdown;
  align-items: center;
  justify-content: center;
}

.players-list {
  display: flex;
  grid-area: playersList;
  align-items: stretch;
  justify-content: center;
}

.action-buttons {
  flex-flow: row wrap;
  width: 100%;
}

.buttons {
  width: 100%;
}

.line-break {
  width: 100%;
}
