.grid-container {
  grid-template-areas:
    "countdown"
    "score"
    "playersList"
    "toggleActionButtons";
  grid-template-rows: 30px 1fr 3fr 30px;
}

.countdown {
  display: flex;
  grid-area: countdown;
  align-items: center;
  justify-content: center;
}

.players-list {
  display: flex;
  grid-area: playersList;
  align-items: stretch;
  justify-content: center;
}

#toggleActionButtons {
  display: flex;
  grid-area: toggleActionButtons;
  align-items: center;
  justify-content: center;
}

#toggleActionButtonsButton {
  background-color: transparent;
  border: 0;
  width: 50%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.action-buttons {
  display: none;
  flex-flow: row wrap;
  width: 100%;
}

.buttons {
  width: 100%;
}

.line-break {
  width: 100%;
}
