<button class="back-button"  routerLink="/">
  <fa-icon [icon]="faXmark"></fa-icon>
</button>
<div class="grid-container">
  <div class="stats-container">
    @if (!userLoggedIn) {
    <span>Please <a href="./settings">login</a> to see stats!</span>
    } @else if (loadingData) {
    <app-loading-spinner [loading]="loadingData"></app-loading-spinner>
    } @else if (showStats) {
    <app-stats-numbers [data]="numbersData"></app-stats-numbers>
    <app-stats-table
      [data]="tableData"
      (onPlayerSelect)="selectPlayer($event)"
    ></app-stats-table>
    @if (showPlayerStats) {
      <app-stats-player-chart [data]="playerData"></app-stats-player-chart>
    }
    <div class="chart-link-container">
      <span
        class="chart-link"
        [class.chart-selected]="winPercentageChartSelected"
        (click)="changeChart(winPercentage)"
        >Win-%</span
      >
      <span
        class="chart-link"
        [class.chart-selected]="goalsChartSelected"
        (click)="changeChart(goals)"
        >Goals</span
      >
      <span
        class="chart-link"
        [class.chart-selected]="gpgChartSelected"
        (click)="changeChart(goalsPerGame)"
        >Goals Per Game</span
      >
    </div>
    <app-stats-chart [data]="chartData"></app-stats-chart>
    <app-stats-game class="game-chart" [data]="gameData"></app-stats-game>
    } @else {
    <span>No stats available!</span>
    }
  </div>
</div>
