.stats-container {
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.player-chart-placeholder {
  font-size: 20px;
  margin-top: 40px;
}

.chart-link-container {
  margin-top: 40px;
  margin-bottom: 30px;
}

.game-chart,
.player-chart {
  margin-top: 40px;
}

.chart-link {
  cursor: pointer;
  color: #ff6600;
  font-size: 20px;
  display: inline;
  margin: 0px 50px 0px 50px;
}

.chart-link.chart-selected {
  text-decoration: underline;
}
