.add-player {
  display: flex;
  grid-area: addPlayer;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.players-list {
  grid-area: playersList;
  height: 80vh;
}

.action-buttons {
  display: flex;
  grid-area: actionButtons;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "addPlayer"
    "playersList"
    "actionButtons";
  grid-gap: 1em;
  padding: 1em;
  height: 100vh;
  width: 100vw;
}

.grid-container > div {
  text-align: center;
}
