.grid-container {
  grid-template-areas:
    "addPlayer"
    "playersList"
    "actionButtons";
  grid-template-rows: 30px 1fr 30px;
}

.add-player {
  display: flex;
  grid-area: addPlayer;
  align-items: center;
  justify-content: center;
}
