<div class="settings-button"><button routerLink="/settings">Settings</button></div>
<div class="grid-container">
  <div class="add-player">
    <app-add-player></app-add-player>
  </div>
  <div class="players-list">
    <app-players-list></app-players-list>
  </div>
  <div class="action-buttons">
    @if (playerCount) {
    <div>
      <button (click)="shuffle()">Shuffle</button>
      @if (playersShuffled) {
      <button (click)="startGame()">Start</button>
      }
    </div>
    }
  </div>
</div>
