<span class="version">{{ version }}</span>
<button class="reload-button" onclick="location.reload(true);">Reload app</button>
<button class="back-button" routerLink="/"><fa-icon [icon]="faXmark"></fa-icon></button>
<div class="settings-container">
  <div class="settings-grid">
    <span class="settings-grid-item settings-label">End time</span>
    <input
      id="endTimeInput"
      class="settings-grid-item"
      type="time"
      value="{{ endTime }}"
      #setTimeInput
    />
    <button
      class="settings-grid-item settings-input-button"
      (click)="setTime(setTimeInput.value)"
    >
      Save
    </button>
    <span class="settings-grid-item settings-label">Email</span>
    @if (currentUser) {
    <span class="settings-grid-item">{{currentUserEmail}}</span>
    <button
        class="settings-grid-item settings-input-button"
        (click)="logout()"
      >
        Logout
      </button>
    } @else {
      <input
        id="emailInput"
        class="settings-grid-item"
        type="email"
        #email
      />
      <button
        class="settings-grid-item settings-input-button"
        [disabled]="emailSent"
        (click)="login(email.value)"
      >
        Send login link
      </button>
    }
  </div>
</div>
