.single-list {
  display: flex;
  justify-items: center;
  height: 100%;
}

.players-grid-container {
  display: grid;
  column-gap: 10vw;
  grid-template-areas: "teamOne teamTwo";
  height: 100%;
}

.team-one {
  display: flex;
  grid-area: teamOne;
  justify-self: end;
  height: 100%;
}

.team-two {
  display: flex;
  grid-area: teamTwo;
  justify-self: start;
  height: 100%;
}
