.single-list {
  display: flex;
  justify-items: center;
  height: 100%;
}

.team-one {
  display: flex;
  grid-area: teamOne;
  justify-self: end;
  height: 100%;
}

.team-two {
  display: flex;
  grid-area: teamTwo;
  justify-self: start;
  height: 100%;
}

.players-grid-container {
  display: grid;
  column-gap: 10vw;
  grid-template-areas: "teamOne teamTwo";
  height: 100%;
}

.players {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  & li {
    display: flex;
    cursor: pointer;
    color: #000;
    background-color: #eee;
    height: 100%;
    max-height: 70px;
    width: 30vw;
    max-width: 300px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }

  & li:hover {
    color: #000;
    background-color: #ddd;
  }
}

.team-one-icon {
  color: #000;
}

.team-two-icon {
  color: #ff6600;
}
