@if (showTeams) {
<div class="players-grid-container">
  <div class="team-one">
    <ul
      cdkDropList
      [cdkDropListDisabled]="teamOnePlayerCount < 2"
      #teamOneList="cdkDropList"
      [cdkDropListConnectedTo]="[teamTwoList]"
      class="players"
      (cdkDropListDropped)="drop($event)"
    >
      @for (player of teamOne; track $index) { @if (player.selected) {
      <li
        cdkDrag
        [cdkDragData]="player.name"
        [cdkDragStartDelay]="dragStartDelay"
        [class.can-drag-start]="canDrag && player.name == dragPlayer && teamOnePlayerCount > 1"
        (click)="addGoalAllowed && addGoal(player)"
        (click)="playerToggleAllowed && togglePlayer(player)"
        (mousedown)="startTimeout(player)"
        (touchstart)="startTimeout(player)"
        (touchend)="stopTimeout()"
      >
        <span class="badge"
          ><fa-icon [icon]="faTshirt" class="team-one-icon-small"></fa-icon
        ></span>
        <span class="player">{{ player.name }}</span>
        @if (showScore) {
        <span class="player-goals">{{ player.goals }}</span>
        }
      </li>
      } }
    </ul>
  </div>
  <div class="team-two">
    <ul
      cdkDropList
      [cdkDropListDisabled]="teamTwoPlayerCount < 2"
      #teamTwoList="cdkDropList"
      [cdkDropListConnectedTo]="[teamOneList]"
      class="players"
      (cdkDropListDropped)="drop($event)"
    >
      @for (player of teamTwo; track $index) { @if (player.selected) {
      <li
        cdkDrag
        [cdkDragData]="player.name"
        [cdkDragStartDelay]="dragStartDelay"
        [class.can-drag-start]="canDrag && player.name == dragPlayer && teamTwoPlayerCount > 1"
        (click)="addGoalAllowed && addGoal(player)"
        (click)="playerToggleAllowed && togglePlayer(player)"
        (mousedown)="startTimeout(player)"
        (touchstart)="startTimeout(player)"
        (touchend)="stopTimeout()"
      >
        <span class="badge"
          ><fa-icon [icon]="faTshirt" class="team-two-icon-small"></fa-icon
        ></span>
        <span class="player">{{ player.name }}</span>
        @if (showScore) {
        <span class="player-goals">{{ player.goals }}</span>
        }
      </li>
      } }
    </ul>
  </div>
</div>
} @else {
<div class="single-list">
  <ul class="players">
    @for (player of players; track $index) {
    <li
      [class.player-selected]="player.selected"
      [class.player-unselected]="!player.selected"
      (click)="togglePlayer(player)"
    >
      {{ player.name }}
    </li>
    }
  </ul>
</div>
}
