@if (showTeams) {
<div class="grid-container">
  <div class="team-one">
    <ul class="players">
      @for (player of teamOne; track $index) {
      <li
        (click)="addGoalAllowed && addGoal(player)"
        (click)="deleteAllowed && deletePlayer(player)"
      >
        <span class="player"
          ><fa-icon [icon]="faTshirt" class="team-one-icon"></fa-icon>
          {{ player.name }}</span
        >
        @if (showScore) {
        <span>{{ player.goals }}</span>
        }
      </li>
      }
    </ul>
  </div>
  <div class="team-two">
    <ul class="players">
      @for (player of teamTwo; track $index) {
      <li
        (click)="addGoalAllowed && addGoal(player)"
        (click)="deleteAllowed && deletePlayer(player)"
      >
        <span class="player"
          ><fa-icon [icon]="faTshirt" class="team-two-icon"></fa-icon>
          {{ player.name }}</span
        >
        @if (showScore) {
        <span>{{ player.goals }}</span>
        }
      </li>
      }
    </ul>
  </div>
</div>
} @else {
<div class="single-list">
  <ul class="players">
    @for (player of players; track $index) {
    <li (click)="deletePlayer(player)">
      {{ player.name }}
    </li>
    }
  </ul>
</div>
}
