.single-list {
  display: grid;
  justify-items: center;
  height: 100%;
  overflow: hidden;
}

.players-grid-container {
  display: grid;
  column-gap: 10vw;
  grid-template-areas: "teamOne teamTwo";
  height: 100%;
}

.team-one {
  display: grid;
  grid-area: teamOne;
  justify-self: end;
  height: 100%;
  overflow: hidden;
}

.team-two {
  display: grid;
  grid-area: teamTwo;
  justify-self: start;
  height: 100%;
  overflow: hidden;
}

.player-selected {
  opacity: 100%;
}

.player-unselected {
  opacity: 30%;
}