.datatable-games-header-icon {
  padding-left: 15px;
}

.game-table-win {
  color: rgb(0, 128, 0);
}

.game-table-draw {
  color: rgba(255, 255, 0, 0.7);;
}

.game-table-loss {
  color: rgba(255, 0, 0, 0.8);
}
