<ngx-datatable
  [rows]="data"
  [columns]="columns"
  [columnMode]="ColumnMode.force"
  [sorts]="[{ prop: 'date', dir: 'asc' }]"
  [headerHeight]="50"
  [rowHeight]="50"
>
  <ngx-datatable-column prop="date" name="Date">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span class="datatable-header-cell-wrapper" (click)="sort()">{{ column.name }}</span>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>{{ row.date | date: 'dd.MM.yyyy' }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="vestlessScore" name="Vestless">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span class="datatable-header-cell-wrapper" (click)="sort()">{{ column.name }}</span>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span
        [class.game-table-win]="row.vestlessScore > row.vestScore"
        [class.game-table-draw]="row.vestlessScore == row.vestScore"
        [class.game-table-loss]="row.vestlessScore < row.vestScore"
      >{{ row.vestlessScore }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="vestScore" name="Vest">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span class="datatable-header-cell-wrapper" (click)="sort()">{{ column.name }}</span>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span
        [class.game-table-win]="row.vestlessScore < row.vestScore"
        [class.game-table-draw]="row.vestlessScore == row.vestScore"
        [class.game-table-loss]="row.vestlessScore > row.vestScore"
      >{{ row.vestScore }}</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column prop="playersCount" name="Players">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span class="datatable-header-cell-wrapper" (click)="sort()">{{ column.name }}</span>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span class="datatable-wins">{{ row.playersCount }}</span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
