.score {
  display: flex;
  grid-area: score;
  font-size: 100px;
  height: 23vh;
  align-items: center;
  justify-content: center;
}

.players-list {
  grid-area: playersList;
  height: 62vh;
}

.action-buttons {
  display: flex;
  grid-area: actionButtons;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "score"
    "playersList"
    "actionButtons";
  grid-gap: 1em;
  padding: 1em;
  height: 100vh;
  width: 100vw;
}

.grid-container > div {
  text-align: center;
}

.team-one-icon {
  color: #000;
  font-size: 100px;
  margin: 40px;
}

.team-two-icon {
  color: #ff6600;
  font-size: 100px;
  margin: 40px;
}
