/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0px;
  font-family: Arial;
  color: #fff;
  background-color: #322f30;
  box-shadow: inset 0 0 1000px 30px #111011;
  overscroll-behavior-y: contain;
  overflow: hidden;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}

.background-title {
  width: 100%;
  height: 100%;
  padding-top: 30svh;
  font-size: 20vmin;
  font-weight: 600;
  color: #3a3a3a;
}

.settings-button, .back-button, .game-control-buttons, .stats-button {
  background-color: transparent;
  border: 0;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.settings-button:hover, .back-button:hover, .game-control-buttons:hover, .stats-button:hover {
  background: transparent;
}

.settings-button, .back-button {
  position: absolute;
  top: 16px;
  right: 16px;
}

.reload-button {
  position: absolute;
  top: 16px;
  left: 46vw;
}

.stats-button {
  position: absolute;
  top: 16px;
  left: 16px;
}

.players-selected-count {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.game-control-buttons.download-players {
  color: #126de4;
}

.game-control-buttons.shuffle {
  margin-left: 20px;
  margin-right: 20px;
}

.game-control-buttons.play {
  margin-left: 20px;
  margin-right: 20px;
  color: #02830d;
}

.game-control-buttons.upload {
  margin-left: 20px;
  margin-right: 20px;
  color: #126de4;
}

.game-control-buttons.reset {
  margin-left: 20px;
  margin-right: 20px;
  color: #af0000;
}

.grid-container {
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  height: 100svh;
  width: 100vw;
  margin: 0;
}

.grid-container > div {
  text-align: center;
}

.score {
  display: flex;
  grid-area: score;
  font-size: 15vmin;
  align-items: center;
  justify-content: center;
}

.team-one-icon {
  color: #000;
  font-size: 8vmin;
  margin-right: 40px;
}

.team-two-icon {
  color: #ff6600;
  font-size: 8vmin;
  margin-left: 40px;
}

.players-list {
  display: flex;
  grid-area: playersList;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
}

.players {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  overflow-y: auto;

  & li {
    display: flex;
    cursor: pointer;
    color: #000;
    background-color: #eee;
    height: 100%;
    min-height: 40px;
    max-height: 70px;
    width: 30vw;
    max-width: 300px;
    border-radius: 10px;
    padding: 0 0.7em 0 0.7em;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }

  & li:hover {
    color: #000;
    background-color: #ddd;
  }
}

.badge {
  display: inline-block;
  padding: 0 0.7em 0 0;
  // background-color: #5a5d5f;
  // height: 100%;
  border-radius: 10px 0 0 10px;
}

.player {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 0 0.7em 0 0;
}

.team-one-icon-small {
  color: #000;
}

.team-two-icon-small {
  color: #ff6600;
}

.action-buttons {
  display: flex;
  grid-area: actionButtons;
  align-items: center;
  justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
