/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  margin: 0px;
  font-family: Arial;
  color: #fff;
  background-color: #322f30;
  box-shadow: inset 0 0 1000px 30px #111011;
}

button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
}

button:hover {
  background-color: #cfd8dc;
}
