.single-list {
  display: grid;
  justify-items: center;
  height: 95%;
}

.players {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;

  & li {
    display: flex;
    cursor: pointer;
    color: #000;
    background-color: #eee;
    height: 100%;
    max-height: 70px;
    width: 30vw;
    max-width: 300px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
  }

  & li:hover {
    color: #000;
    background-color: #ddd;
  }
}

.team-one-icon {
  color: #000;
}

.team-two-icon {
  color: #ff6600;
}
